.form-container {
  width: 50vw;
  background-color: #303030;
  border-radius: 0.25rem;
  border: 1px solid #646464;
  padding: 1.5rem;
}

.input-container {
  width: 100%;
  margin-bottom: 1.25rem;
  white-space: nowrap;
}

label {
  margin-bottom: 0;
}

input {
  width: 98%;
  height: 1.15rem;
  border-radius: 0.25rem;
  border: 1px solid #646464;
  padding: 1rem;
  transition: 0.2s ease;
  outline: none;
  background-color: #242424;

}

input:focus {
  border-color: #535bf2;
}