body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-title {
  text-align: center;
}

.form-container {
  width: 50vw;
  background-color: #303030;
  border-radius: 0.25rem;
  border: 1px solid #646464;
  padding: 1.5rem;
}

.input-container {
  width: 100%;
  margin-bottom: 1.25rem;
  white-space: nowrap;
}

label {
  margin-bottom: 0;
}

input {
  width: 98%;
  height: 1.15rem;
  border-radius: 0.25rem;
  border: 1px solid #646464;
  padding: 0.25rem;
  transition: 0.2s ease;
  outline: none;
}

input:focus {
  border-color: #535bf2;
}

.submit-container {
  text-align: center;
}

nav {
  display: inline;
}

p {
  text-wrap: wrap;
}