.profile-container {
    width: 100%;
}


.grid-container {
    padding: 5%;
}

input {
    padding: 1rem;
    background-color: #242424;
}

.date-picker {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 1.5rem 1rem;
}
        
        