* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #212121;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

NavLink {
  text-decoration: none;
}


